html {
    background-color: #191919;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 48px;
    color: #ffffff;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    color: #ffffff
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    color: #ffffff
}

.title {
    text-align: center;
    padding: 10px 10px;
}

.gameplay {
    text-align: center;
    padding: 5px 5px;
}

.button {
    background-color: #383838;
    text-align: center;
    border: none;
    display: inline-block;
    font-size: 24px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.counter {
    text-align: center;
    font-size: 16px;
}

.creator{

    text-align:center;
}

.creator-text{
    font-size: 12px;
    text-align:center;
}