html {
    background-color: #191919;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 48px;
    color: #ffffff;
}

h2 {
    font-size: 30px;
    color: #ffffff
}

p {
    font-size: 24px;
    color: #ffffff
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}

.title {
    text-align: center;
    padding: 10px 10px;
}

.gameplay {
    text-align: center;
    padding: 5px 5px;
}

.button {
    background-color: #383838;
    text-align: center;
    border: none;
    display: inline-block;
    font-size: 24px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.counter {
    text-align: center;
    font-size: 16px;
}

.creator{

    text-align:center;
}

.creator-text{
    font-size: 12px;
    text-align:center;
}