html {
    background-color: #191919;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 48px;
    color: #ffffff;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    color: #ffffff
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    color: #ffffff
}

.title {
    text-align: center;
    padding: 10px 10px;
}

.gameplay {
    text-align: center;
    padding: 5px 5px;
}